@media screen and (min-width: 480px)
{
	body
	{
		margin: 0 auto;
		max-width: 768px;
	}
	nav ul li
	{
		font-size: 12px;
	}
	nav #publicar_nav
	{
		padding-right: 1.8em;
	}
	nav #publicar_nav:after
	{
		color: rgba(255,255,255,0.5);
		content: "\e003";
		display: block;
		font-family: "icomoon";
		font-size: 20px;
		position: absolute;
		right: 3px;
		top: 8px;
	}
	#contenido .item .datos_item
	{
		margin: 25px 0 0 0;
		font-size: 0.9em;
	}
}
@media screen and (min-width: 768px)
{
	body
	{
		margin: 0 auto;
		max-width: 768px;
	}
	nav ul li
	{
		font-size: 0.9em;
	}
	#bienvenida
	{
		display: block;
		float: right;
		height: auto;
		margin: 0 8px;
		width: 33%;
	}
	#border
	{
		border-bottom: 2px solid #CFCFCF;
	}
	#contenido .item
	{
		width: auto;
	}
	#contenido .item .datos_item
	{
		margin: 35px 0 0 0;
	}

	#contenido #item_sec
	{
		background: white;
		border-bottom: 3px #DE5659 solid;
		display: block;
		margin-bottom: 3em;
		min-height: 128px;
		position: relative;
		width: 65%;
	}
	#contenido #item_sec p
	{
		color: #7A7A7A;
		font-size: 0.9em;
	}
	#contenido #item_sec #datos_item_sec
	{
		margin: 18px 0 0 0;
		text-align: right;
	}
	#contenido #item_sec #datos_item_sec #comentarios_item_sec
	{
		background: #B7B7B7;
		border-radius: 4px;
		color: white;
		margin: 0 0 0 1.5em;
		padding: 4px;
		position: relative;
		text-decoration: none;
	}
	#contenido #item_sec #datos_item_sec #comentarios_item_sec:after
	{
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #878787;
		content: "";
		left: 10px;
		position: absolute;
		top: 100%;
	}
	#contenido #item_sec #datos_item_sec #guardar_item_sec
	{
		margin: 0 1em;
		text-decoration: none;
	}
	#contenido #item_sec #datos_item_sec #guardar_item_sec:after
	{
		color: #FD5;
		content: "\e004";
		font-family: "icomoon"
	}
	#contenido #item_sec #datos_item_sec #tag_item_sec
	{
		background: #22BCE0;
		border-radius: 0.5em;
		color: white;
		float: left;
		padding: 0.2em 0.5em;
		text-decoration: none;
	}
	#contenido #item_sec #imagen_item_sec
	{
		float: left;
		margin: 0 0.5em 0 0;
	}
	#contenido #item_sec #imagen_item_sec img
	{
		width: 96px;
	}
	#contenido #item_sec #titulo_item_sec
	{
		font-size: 1em;
		font-style: italic;
		padding: 0.5em;
	}
	#contenido #item_sec #titulo_item_sec a
	{
		color: #444;
		text-decoration: none;
	}
	#contenido #item_sec #votacion_sec
	{
		background: white;
		border-radius: 0 0 0.5em 0.5em;
		border-bottom: 3px solid #DE5659;
		border-right: 3px solid #DE5659;
		border-left: 3px solid #DE5659;
		margin: 3px 0 0 0;
		padding: 0.2em 0;
		position: absolute;
		text-align: center;
		top: 100%;
		width: 90px;
	}
	#contenido #item_sec #votacion_sec a
	{
		text-decoration: none;
	}
	#contenido #item_sec #votacion_sec #down_sec:after,
	#contenido #item_sec #votacion_sec #up_sec:after
	{
		font-family: "icomoon";
		font-size: 1.2em;
		vertical-align: bottom;
	}
	#contenido #item_sec .votacion_sec #down_sec:after
	{
		color: #BA1B00;
		content: "\e001";
	}
	#contenido #item_sec .votacion_sec #up_sec:after
	{
		color: #10942E;
		content: "\e002";
	}


	#contenido #principal
	{
		display: block;
		position: relative;
		width: 65%;
	}
	#contenido #principal #imagen_first img
	{
		width: 100%;
		border-bottom: solid #DE5659;
	}
	#contenido #principal #imagen_first #descripcion_principal
	{
		background: rgba(255,255,255,0.7);
		height: 90px;
		position: absolute;
		bottom: 0px;
		width: 493px;
		z-index: 1;
	}
	#contenido #principal #imagen_first #descripcion_principal h2
	{
		font-size: 19px;
		font-style: italic;
		margin: 0;
		padding: 10px 0 0 60px;
	}
	#contenido #principal #imagen_first #descripcion_principal p
	{
		font-size: 15px;
		line-height: 40px;
		margin: 0;
		padding: 0 0 0 60px;
	}
	#contenido #principal #imagen_first #descripcion_principal ul
	{
		bottom: 5px;
		display: block;
		left: 10px;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		text-align: center;
	}
	#contenido #principal #imagen_first #descripcion_principal #down_principal:after
	{
		color: #DF5321;
		content: "\e001";
		font-family: "icomoon";
		font-size: 25px
	}
	#contenido #principal #imagen_first #descripcion_principal #up_principal:after
	{
		color: #23BA63;
		content: "\e002";
		font-family: "icomoon";
		font-size: 25px
	}
	#mensaje_registro
	{
		color: #878787;
		font-size: 12px;
		font-style: italic;
		text-align: center;
		padding-bottom: 10px;
	}
	#registro
	{
		background: #06BBE1;
		border-bottom: 3px solid #CFCFCF;
		color: white;
		height: 30px;
		margin-top: 10px;
		text-align: center;
		vertical-align: middle;
		padding: 12px 28%;
		line-height: 40px;
	}
	#registro a
	{
		color: white;
	}
	#registro:hover
	{
		background: #0A8393;
		border: none;
	}
	#titulo_registro
	{
		font-size: 20px;
	}
	#titulo_actividad
	{
		display: block;
		background: #DE5659;
		color: white;
		font-size: 15px;
		font-weight: normal;
		padding: 8px 28%;
		text-align: center;
		vertical-align: middle;
	}
	#contenido_actividad .item_actividad .datos_actividad
	{
		text-align: right;
		margin: 0;
	}
	#contenido_actividad .item_actividad .datos_actividad .comentarios_actividad
	{
		background: #DE5659;
		border-radius: 4px;
		color: white;
		float: left;
		font-size: 13px;
		padding: 4px;
		position: relative;
	}
	#contenido_actividad .item_actividad .datos_actividad .comentarios_actividad:after
	{
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #DE5659;
		content: "";
		left: 17px;
		position: absolute;
		top: 100%;
	}
	#contenido_actividad .item_actividad .datos_actividad .descripcion_actividad
	{
		color: #878787;
		font-size: 15px;
		padding-left: 10px;
	}
	.border_actividad
	{
		border-bottom: 1px solid #CFCFCF;
	}
}










}